# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules
yarn-error.log

# Build directory
.next
out

# next-on-netlify
out_publish
out_functions

# macOS
.DS_Store

# env
.env.local

sources/jobs/index.json