.chat-section {
  height: calc(100vh - 266px - 79px);
  min-height: 670px;
  position: relative;
  padding: 150px 0 300px 0;
}

.chat-iframe {
  width: 100%;
  min-height: 670px;
  height: calc(100vh - 266px - 79px);
  margin-top: -45px;
  overflow: hidden;
}

.chat-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -30px;
  width: 460px;
  height: 489px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}

@media only screen and (max-width: 600px) {
  .chat-box {
    margin-top: 0;
    width: 400px;
    box-shadow: none;
    background-color: transparent;
    border: none;
  }

  .chat-section {
    min-height: 540px;
  }
}

@media only screen and (max-width: 400px) {
  .chat-box {
    width: 100%;
  }
}
