/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

html,
body {
  background-color: #f8fefdc8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-display: fallback;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

input[disabled],
button[disabled] {
  cursor: not-allowed;
}
