@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'containers/webuild-day/TheProgram/agenda.css';
@import 'containers/webuild-day/TheProgram/rightside.css';

html,
body {
  background-color: #fefcf8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-display: fallback;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

input[disabled],
button[disabled] {
  cursor: not-allowed;
}

.prose > ul > li > p,
.prose > ul > li > p:first-child,
.prose > ul > li > p:last-child {
  margin: 0;
}
